#contact {
    min-height: 50vh;
}

#contact h1 {
    text-align: center;
    font-size: 3vw;
    padding-top: 5vh;
    margin-bottom: 5vh;
}

.container {
    width: 45vw;
    height: 30vh;
    margin: auto;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1vw;
    background-color: rgb(218, 183, 252);
}

.container label {
    font-size: 2.5vw;
}

.container div {
    margin: 1vw 0;
}

.container .email input {
    font-size: 2vw;
    width: 28vw;
    padding: 0.2vw 1vw;
    outline: none;
    border: 0.15vw solid grey;
    border-radius: 0.5vw;
}

.container .insta input {
    font-size: 2vw;
    width: 22.7vw;
    padding: 0.2vw 1vw;
    outline: none;
    border: 0.15vw solid grey;
    border-radius: 0.5vw;
}

/* Media Queries */

@media only screen and (max-width: 480px) {

    #contact h1 {
        font-size: 6vw;
        padding-top: 3vh;
        margin-bottom: 3vh;
    }

    .container {
        width: 70vw;
        height: 20vh;
        border-radius: 2.5vw;
    }

    .container label {
        font-size: 4vw;
    }
    
    .container div {
        margin: 1vw 0;
    }

    .container .email input {
        font-size: 3.5vw;
        width: 50vw;
        padding: 0.2vw 1vw;
        outline: none;
        border: 0.15vw solid grey;
        border-radius: 0.5vw;
    }
    
    .container .insta input {
        font-size: 3.5vw;
        width: 32vw;
        padding: 0.2vw 1vw;
        outline: none;
        border: 0.15vw solid grey;
        border-radius: 0.5vw;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    #contact h1 {
        font-size: 6vw;
        padding-top: 5vh;
        margin-bottom: 3vh;
    }

    .container {
        width: 70vw;
        height: 30vh;
        border-radius: 2.5vw;
    }

    .container label {
        font-size: 4vw;
    }
    
    .container div {
        margin: 1vw 0;
    }

    .container .email input {
        font-size: 3.5vw;
        width: 50vw;
        padding: 0.2vw 1vw;
        outline: none;
        border: 0.15vw solid grey;
        border-radius: 0.5vw;
    }
    
    .container .insta input {
        font-size: 3.5vw;
        width: 32vw;
        padding: 0.2vw 1vw;
        outline: none;
        border: 0.15vw solid grey;
        border-radius: 0.5vw;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    #contact h1 {
        font-size: 5vw;
        padding-top: 5vh;
        margin-bottom: 3vh;
    }

    .container {
        width: 50vw;
        height: 30vh;
        border-radius: 2.5vw;
    }

    .container label {
        font-size: 3vw;
    }
    
    .container div {
        margin: 1vw 0;
    }

    .container .email input {
        font-size: 2.5vw;
        width: 34vw;
        padding: 0.2vw 1vw;
        outline: none;
        border: 0.15vw solid grey;
        border-radius: 0.5vw;
    }
    
    .container .insta input {
        font-size: 2.5vw;
        width: 23vw;
        padding: 0.2vw 1vw;
        outline: none;
        border: 0.15vw solid grey;
        border-radius: 0.5vw;
    }

}